@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.scss";

html,
body {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $white;
}

#root {
  width: 100%;
  display: flex;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  // padding: 0 calc((100% - 1440px) / 2);
}

* {
  color: $black;
  font-family: "Poppins", sans-serif;
  outline: 0;
  box-sizing: border-box;
}

.flex {
  display: flex; /* Chrome & Firefox & Microsoft Edge */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
